{% extends 'base.html' %}

{% block title %}Acesso ao Sistema - Hotel Elfsong{% endblock %}

{% block content %}
<div class="row justify-content-center pt-4">
    <div class="col-md-5">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <h3 class="card-title text-center mb-4 fw-bold">Login do Cliente</h3>
                
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Palavra-passe</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>

                <div class="mt-4 pt-2 border-top text-center">
                    <small class="text-muted">
                        <a href="{{ url_for('login_colaborador') }}" class="text-decoration-none text-secondary">Entrar como colaborador</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}